.section{
    background: url('../../Assets/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: #fff; display: flex;justify-content: start;align-items: center;
     
}
.section p{
    padding-bottom: 20px ;
}
.hero-content{
padding: 50px; background-color: rgba(22, 157, 157, 0);
width: 600px;
}


@media (min-width:320px) and (max-width:480px){
    .hero-content{
        width:inherit;
        padding: 20px;
    }
}