 .Footersec h1 {font-size: 35px;}
 /* .Footersec p{
    padding: 10px;
 } */
  .Footersec{
    background-color: #000000;color: white;text-align: center;display: flex;justify-content: space-around;padding: 60px;
  }

   .Footersec .fir-row li{
    padding: 5px;  list-style-type: none;
   }
   .fir-row li a{
    text-decoration: none;color: white;
   }
    .sec-row{width: 400px;}
   .sec-row .logos i{padding: 8px;font-size: 25px;}
   .third-row p{padding: 6px;}
   .footer-last{
    background-color: #000001;text-align: center;padding-bottom: 40px;
   }
   .footer-last p{padding: 10px;font-size: 20px;color: white;}

    @media (min-width:320px) and (max-width:480px){
        .Footersec{display: block;padding: 20px;}
        .sec-row{
            width: inherit;
        }
        .sec-row ,.fir-row,.third-row{
            padding-top: 30px;
        }
        .footer-last p{font-size: 15px;}

    }
   