
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sriracha&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sriracha&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
 



*{
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;

}
h1, h2 {
    font-family: 'Dancing Script', cursive;
    

    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 15px;


}